*{

    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(32,32,32);
}
body{
    background-color: #FAFAFA;
    margin: 54px 0 0;
    font-family: 'Roboto';
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
}
.navbar{
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    border: 1px solid #DBDBDB;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    
}
.menu{
    width: 100%;
    display:flex ;
    justify-content: space-around;
    align-items: center;
    
}
.logos{
    width: 164px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.barra{
    height: 22px;
    border: 1px solid #f5f6f7;
    
}
.menu img{
    width: 110px;
    height: 29px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.barra-pesquisa::placeholder{
    text-align: center;
    resize: none;
}
.barra-pesquisa{
    background-color: #ffffff;
    width: 215px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #DBDBDB;
    border-radius: 5px solid #DBDBDB;
    margin: 15px 0;
    outline: none;
}

.navbar ion-icon, .navbar img{
    cursor: pointer;
}

ion-icon{
    width: 22px;
    height: 22px;
    font-size: 22px;
}

/* Stories   */
main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 88px;
}

.container-principal{
    background-color: aliceblue;
    width: 600px
    
}
.sidebar{
    width: 293px;
}

.barra-stories{
    max-width: 550px;
    height: 118px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 10px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    overflow: hidden;
    z-index: 0;
    padding-left: 15px;
}

.stories img{
    background-image: url("stories_background.png");
    height: 66px;
    width: 66px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.stories{
    margin: 15px 0;
    display: flex;


}
.barra-stories ion-icon[name="chevron-forward-circle"]{
    color: #ffffff;
    width: 36px;
    height: 36px;
    display: block;
    z-index: 1;
    position: absolute;
    right: 8px;

}

.stories img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 5px 5px;

}

.stories .username{
    width: 66px;
    display: flax;
    text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.barra-stories .stories  a{
    width: 80px;
    white-space: nowrap;
    margin: 5px 0;
}

/* fim storie */

/* postagens */

.postagem{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-weight: 500;
}

.barra-postagem{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.barra-postagem img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    margin: 13px 14px;
}
.postagem-img img{
    max-width: 550px;
    
}

.barra-postagem .user {
    font-size: 15px;
    color: #262626;
    display: flex;
    text-overflow: ellipsis;
}

.perfil-user{
    display: flex;
    align-items: center;
}
.barra-postagem ion-icon{
    margin:5px 13px;
    width: 20px; 
       
}
.barra-curtidas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left:10px;

}

.box-icons ion-icon{
    width: 20px;

}
.foto-perfil-q-curtiu{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: block;
    margin: 5px 5px;
}

.caixa-direita{
    margin-top: 57px;
    display: flex;
    align-items: center;
    padding: 0px 17px
}

/* fim postagens */

/* sidebar */

.sidebar{
    width: 300px;
    height: 449px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.caixa-icone-user{
    width: 100%;
    display: flex;
    align-items: center;
}

.texto-sidebar{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: 14px;
    padding: 0px 17px;
}

.icone-sidebar{
    width: 56px;
    height: 56px;
    border-radius: 50%;
}
.user-sidebar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0px 17px;
}
.sugestoes{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
}

.caixa-icone-sugestoes{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
}
.usuario-sugestoes {
    display: flex;
    align-items: center;
    
}
.icone-sugestoes {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.texto-sugestoes{
    display: felx;
    flex-direction: column;
    padding: 0px 17px;
}

.seguir{
    display: block;
    color: #139ef2;
}

.box-infos {
    width: 300px;
    font-size:11px;
    line-height: 13px;
    display: flex;
    flex-direction: column;
    color:#c7c7c7;
}
.infos-pag-insta {
    margin-bottom: 26px;
}


/* COMEÇO INSTAGRAM MOBILE */

@media (max-width: 935px) {
    .caixa-direita {
        display: none;
     }
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
     }
    .borda {
        width: 1px;
        height: 22px;
        background: #dbdbdb;
     }
    }
    .barra-topo-mobile {
        width: 100%;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 2;
        border-bottom: 1px solid #dbdbdb;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 10px 20px;
    }
      
    @media (max-width: 614px) {
    .topo-mobile {
        box-shadow: none;
    }
    .menu {
        display: none;
    }
      
    .container-principal{
        width: 100%;
        margin-top: none;
    }
    .barra-stories ion-icon[name="chevron-forward-circle"] {
        display: none;
    }
    
    .barra-stories {
        box-shadow: none;
        margin-top: none;
        margin-bottom: none;
    }
    .menu-mobile {
        width: 100%;
        background-color: #ffffff;
        position: fixed;
        bottom: 0px;
        z-index: 2;
        left: 0px;
        display: flex;
        justify-content: space-between;
        /* padding: 10px 20px; */
     }
    }
      
    @media (min-width: 614px) {
    .barra-topo-mobile {
        display: none;
    }
    .menu-mobile {
        display: none;
    }
    
    }